<nav>
  <div class="logo"><h1>Student Management</h1></div>

  <div class="add_btn">
    <button
      data-bs-toggle="modal"
      data-bs-target="#studentForm"
      (click)="isEditing()"
    >
      Add Students
    </button>
  </div>
</nav>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Sr No.</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of studentData; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.age }}</td>
        <td>
          <button
            data-bs-toggle="modal"
            data-bs-target="#studentForm"
            (click)="edit(item)"
            class="edit"
          >
            Edit
          </button>
          <button (click)="deleteData(item)" class="delete">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div
  class="modal fade"
  id="studentForm"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Details</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control mb-3"
            placeholder="Name"
            aria-label="name"
            aria-describedby="basic-addon1"
            [(ngModel)]="name"
          />

          <div class="input-group mb-3">
            <input
              type="number"
              class="form-control"
              placeholder="Age"
              aria-label="age"
              aria-describedby="basic-addon1"
              [(ngModel)]="age"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>

        <button
          type="button"
          class="btn btn-primary"
          (click)="addStudentData()"
          data-bs-dismiss="modal"
          *ngIf="editing == false"
        >
          Add Student
        </button>

        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          *ngIf="editing == true"
          (click)="updateStudent()"
        >
          Update Student
        </button>
      </div>
    </div>
  </div>
</div>
